* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Arcanenine';
    src: url('./arcanenine.woff2') format('woff2');
    
}
h1, p {
    font-family: 'Arcanenine', sans-serif;
}
.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;
}
h1 {
    font-size: 48px;
    color: #b79776;
    -webkit-text-stroke: 1px #7e5234;
    margin-bottom: 5px;
    transform: translateY(-150px);
}

p {
    font-size: 24px;
    color: #b79776;
    -webkit-text-stroke: 1px #7e5234;
    transform: translateY(-165px);
}


div.date-button button:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    transform: translate(-61px, -110px);
}

.date-input {
    width: 125px;
    height: 40px;
    font-size: 16px;
    font-family: 'Arcanenine', sans-serif;
    color: black;
    background-color: #b79776;
    border: 2px solid #7e5234;
    border-radius: 10px;
    cursor: pointer;
}

body {
    background-image: url(../images/arcanebackg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.character-container {
    width: 1000px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
}

button {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    border-radius: 50%;
    border: none;
    background-size: cover;
    background-position: center;
}

button:nth-child(1)  { transform: translate(-250px, -375px) ; } /*vi*/
button:nth-child(2)  { transform: translate(-450px, -275px) ; } /*vander*/
button:nth-child(3)  { transform: translate(-550px, -125px) ; } /*singed*/
button:nth-child(4)  { transform: translate(-550px, 15px) ; } /*caitlyn*/
button:nth-child(5)  { transform: translate(-450px, 150px) ; } /*sevika*/
button:nth-child(6)  { transform: translate(-250px, 250px) ; } /*viktor*/
button:nth-child(7)  { transform: translate(125px, 250px) ; } /*ekko*/
button:nth-child(8)  { transform: translate(325px, 150px) ; } /*silco*/
button:nth-child(9)  { transform: translate(425px, 15px) ; } /*heimerdinger*/
button:nth-child(10) { transform: translate(425px, -125px) ; } /*mel*/
button:nth-child(11) { transform: translate(325px, -275px) ; } /*jayce*/
button:nth-child(12) { transform: translate(125px, -375px) ; } /*jinx*/

.vi { background-image: url('../images/vi.jpg'); }
.vander { background-image: url('../images/vander.jpg'); }
.singed { background-image: url('../images/singed.jpg'); }
.caitlyn { background-image: url('../images/caitlyn.webp'); }
.sevika { background-image: url('../images/sevika.jpg'); }
.viktor { background-image: url('../images/viktor.webp'); }
.ekko { background-image: url('../images/ekko.webp'); }
.silco { background-image: url('../images/silco.jpg'); }
.heimerdinger { background-image: url('../images/heimerdinger.jpg'); }
.mel { background-image: url('../images/mel.jpg'); }
.jayce { background-image: url('../images/jayce.jpg'); }
.jinx { background-image: url('../images/jinx.jpg'); }
